<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        
        .center{display: block; margin-left: auto; margin-right: auto; width: 95px; height: 95px}

        .body-heading {
            text-align: center;
        }

        h1, h2 {
            color: red;
        }
    </style>

</head>
<body>
    <div class="body-heading">
        <img src="http://app.high-view-studios.co.uk/HighViewStudios/templates/logo.jpg" class="center">
        <h1><strong>My STAFF</strong></h1>
        <h2><strong>Space, Times, Flexible, Facilities</strong></h2>
    </div>

    <p>Dear {{ name }} ({{ email }}),</p>
    <p>There has been a request from {{ POC_Name }} to make you a Senior Admin at {{ orgName }}</p>
    <p>This will enable to you change the administrator settings for this organisation. You will also be the new 'point of contact' between {{ orgName }} and High-View Studios</p>

    <p>You will need to go on the link below and accept and decline the request.</p>

    <p>If you accept the request, the current Senior Admin will be informed as well as High-View Studios for their reconds</p>

    <p>Please follow this link: http://localhost:3000/org/{{ orgID }}/changeofSeniorRequest</p>

    <p>Regards,</p>

    <p><strong>High-View Studios</strong></p>

</body>
</html>