<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        
        .center{display: block; margin-left: auto; margin-right: auto; width: 95px; height: 95px}

        .body-heading {
            text-align: center;
        }

        h1, h2 {
            color: red;
        }
    </style>

</head>
<body>
    <div class="body-heading">
        <img src="http://app.high-view-studios.co.uk/HighViewStudios/templates/logo.jpg" class="center">
        <h1><strong>My STAFF</strong></h1>
        <h2><strong>Space, Times, Flexible, Facilities</strong></h2>
    </div>

    <p>Dear {{ name }} ({{ email }}),</p>
    <p>You have been registered to My STAFF by {{ orgName }}</p>
    <p>My STAFF is an online booking system which enables you to book out rooms in {{ orgName }}</p>

    <p>Your login information is as follows: </p>

    <ul>
    {{#eqlsTo authLocal 'true'}}
        <li>Local Login:</li>
        <ul>
            <li>Username: please use the email you see above</li>
            <li>Password: {{ localPassword }}</li><br />
        </ul>
    {{/eqlsTo}}

    {{#eqlsTo authGoogle 'true'}}
        <li>Google Login - please use the email you see above</li>
    {{/eqlsTo}}
    </ul>

    <p>If your organisation have chosen more than one login option, the option that you choose to log in for the first time, will be your login option for therefore after. The website will correct you if you try to log in through the wrong option.</p>

    <p>Your organisation's unquie URL is https://my-staff.co.uk/org/{{ orgID }}</p>

    <p>If you want to know more about the My STAFF system, please go to https://my-staff.co.uk</p>

    <p>Enjoy booking your rooms' sessions through My STAFF</p>

    <p>Regards,</p>

    <p><strong>High-View Studios</strong></p>

</body>
</html>